form {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-left: 0px;
  margin: 10px;
}

label,
textarea {
  margin: 10px;
}

input {
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin: 10px;
  border-style: solid;
  padding: 10px 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  border: 2px solid black;
  border-radius: 5px;
  width: 500px;
  padding: 10px 5px;
}

textarea,
input {
  font-size: 18px;
}

button {
  width: 150px;
  margin: 10px;
  background-color: black;
  height: 30px;
  color: white;
  font-size: 20px;
}

@media (max-width: 500px) {
  textarea {
    width: 90%;
  }
}
